.logo {
	float: left;
}
.nav-div {
}
.nav {
	float: left;
	padding-top: 48px ;
	margin-left: 119px;
}
.header-wraper {
	background-color: #fff;
	position: fixed;
	top: 0px ;
	padding-left: 140px ;
	width: 100% ;
	z-index: 20 ;
}
li {
	float: left;
	padding-left: 50px ;
}
.ul::after {
	content: '' ;
	clear: both;
	display: block;
}
.nav-div::after {
	content: '' ;
	clear: both;
	display: block;
}

/*section1*/
.section1 {
	margin-top: 96px ;
}
.sectionh6 {
	position: absolute;
	bottom: 58% ;
	right: 48% ;
	font-size: 22px;
	color: #ffff;
	text-transform: lowercase;
}
.sectionh3 {
	position: absolute;
	bottom: 50% ;
	right: 50% ;
	font-size: 33px;
	color: #ffff;
	text-transform: uppercase;
}
.img-wraper {
	position: relative;
	width: 100% ;
	background-image: url(../img/1.png);
	height: 383px;
	background-repeat: no-repeat;
}

/*section2*/
/*.wraper {
	top: 50%;
	right: 50%;
	width: 1325px;
	height: 1518px;
}*/
.sec-h5 {
	font-size: 22px;
	color: #FF7A00;
	text-transform: capitalize;
	/*padding-left: 172px ;
	padding-top: 84px ;*/
}
.sec-wraper {
	margin-top: 81px ;
	margin-left: 138px ;
	width: 636px ;
	height: 673px ;
}
.sec2h3 {
	float: left;
	width: 563px;
	height: 94px;
	font-size: 36px;
	color: #181C28 ;
	display: flex;
	flex-direction: column;
	margin-top: 20px ;
}
.sec2p {
	width: 636px ;
	height: 39px;
	font-size: 16px ;
	color: #7B7B7B ;
	display: flex;
	flex-direction: column;
	/*margin-top: 44px ;*/
}
.sec2p2 {
	display: inline-block;
	color: #FF7A00;
}
.divider {
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 18px;
}
.sec-child {
	float: left;
}
.sec-child1 {
	float: left;
}


/*clear*/
.sec-child1 {
	float: right;
}