.logo {
	float: left;
}
.nav-div {
}
.nav {
	float: left;
	padding-top: 48px ;
	margin-left: 119px;
}
.header-wraper {
	background-color: #fff;
	position: fixed;
	top: 0px ;
	padding-left: 140px ;
	width: 100% ;
	z-index: 20 ;
}
.li {
	float: left;
	padding-left: 50px ;
}
.ul::after {
	content: '' ;
	clear: both;
	display: block;
}
.nav-div::after {
	content: '' ;
	clear: both;
	display: block;
}

/*section1*/
.section1 {
	margin-top: 96px ;
}
.sectionh6 {
	position: absolute;
	bottom: 58% ;
	right: 48% ;
	font-size: 22px;
	color: #ffff;
	text-transform: lowercase;
}
.sectionh3 {
	position: absolute;
	bottom: 50% ;
	right: 50% ;
	font-size: 33px;
	color: #ffff;
	text-transform: uppercase;
}
.img-wraper {
	position: relative;
	width: 100% ;
	background-image: url(../img/1.png);
	height: 383px;
	background-repeat: no-repeat;
}



/*section2*/
.h5 {
	font-size: 22px;
	color: #FF7A00;
	text-transform: capitalize;
	margin: 81px 0 81px 172px;
}
.div-img {
	float: left;
	margin-left: 138px;
}
.div-img2 {
	float: left;
	margin-left: 51px;
}
.section2::after {
	content: '' ;
	clear: both;
	display: block;
}
.h3 {
	width: 563px;
	font-size: 36px;
	color: #181C28;
	margin-top: 20px;
}
.paragraf1 {
	width: 636px ;
	font-size: 16px ;
	color: #7B7B7B ;
	margin-top: 44px ;
}
.paragraf2 {
	color: #FF7A00;
	margin-top: 13px;
	display: inline-block;
}
.divider {
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 18px;
}
.second {
	margin-top: 57px;
}
.three {
	width: 1600px;
}
.load-more {
	width: 190px;
	height: 70px;
	background-color: #FF7A00;
	margin: 66px auto;
}
.paragraf3 {
	padding: 23px 46px;
	color: #FFFFFF;
	font-size: 16px;
}
.four {
	background-color: #181C28;
	width: 1600px;
	height: 266px;
}
.last::after {
	content: '' ;
	clear: both;
	display: block;
}
.last-section::after {
	content: '' ;
	clear: both;
	display: block;
}
.h2 {
	color: #282828;
	font-size: 24px;
	margin-top: 82px;
	margin-left: 138px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.li1 {
	line-height: 20px;
	margin-left: 138px;
	color: #7B7B7B;
	font-size: 16px;
	text-transform: capitalize;
}
.last-div {
	float: left;
}
.last-div2 {
	float: left;
	margin-left: 96px;
}
.last-div3 {
	float: left;
	margin-left: 96px;
}
.last-div4 {
	float: right;
	margin-right: 138px;
}
.last-div5 {
	margin-left: 168px;
	width: 190px;
	height: 40px;
}
.last-img2 {
	margin-left: 10px;
	margin-bottom: 9px;
}
.last-img3 {
	margin-left: 5px;
}
.last-paragraf {
	position: fixed;
	bottom: 0px;
	right: 142px;
	font-size: 16px;
	color: #A4A4A4;
}