.logo {
	float: left;
}
.nav-div {
}
.nav {
	float: right;
	padding-right: 730px;
	padding-top: 48px ;
}
.clear {
	clear: both;
}
.header-wraper {
	background-color: #fff;
	position: fixed;
	top: 0px ;
	padding-left: 140px ;
	width: 100% ;
	z-index: 20 ;
}
li {
	float: left;
	padding-left: 50px ;
}
.nav-div::after {
	content: '' ;
	clear: both;
	display: block;
}

/*section1*/
.section1 {
	margin-top: 96px ;
}

.sectionh6 {
	position: absolute;
	bottom: 215px ;
	right: 1150px ;
	font-size: 22px;
	color: #ffff;
	text-transform: lowercase;
}
.sectionh3 {
	position: absolute;
	bottom: 175px ;
	right: 1200px ;
	font-size: 33px;
	color: #ffff;
	text-transform: uppercase;
}
.img-wraper {
	position: relative;
	width: 100% ;
}

/*section2*/
.sec-h5 {
	font-size: 22px;
	color: #FF7A00;
	text-transform: capitalize;
	padding-left: 172px ;
	padding-top: 84px ;
}
.sec-wraper {
	margin-top: 81px ;
	margin-left: 138px ;
	width: 636px ;
	height: 673px ;
}
.sec2h3 {
	float: left;
	width: 563px;
	height: 94px;
	font-size: 36px;
	/*flex-direction: column;*/
	color: #181C28 ;
	display: flex;
	flex-direction: column;
	margin-top: 20px ;
}
.sec2p {
	/*flex-direction: column;*/
	width: 636px ;
	height: 39px;
	font-size: 16px ;
	color: #7B7B7B ;
	display: flex;
	flex-direction: column;
	/*margin-top: 44px ;*/
}
.sec2p2 {
	display: inline-block;
	color: #FF7A00;
}
.divider {
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 18px;
}
.sec-child {
	float: left;
}
.sec-child1 {
	float: right;
}


/*წასაშლელი*/
/*.sec2p2{
	color:...;
	background-color:...;
	padding: ... ;
	font-size: ...px;
	border-width: ...px ;
	border-style: ... ;
	height:...px ;
	margin: ...px ;
	padding: ...px ;
	display: inline-block;
	display: none;
	display: block;
	vertical-align: top;
	vertical-align: bottom;
	vertical-align: middle;
	font-family: ... ;
	text-transform: capitalize;
	letter-spacing: ...px;
	line-height: ...px;
	font-weight: bold;
	font-style: italic;
	float: left; right;
	margin-right: auto;


}
.sec2p2::after {
	content: '' ;

}*/